# Qt Creator
*.user
*.user.*
*.shadow
/.qtc_clangd/

# build folders
build*/
build-/
CMakeLists.txt.user

# compile files
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.exe

# CMake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake

# system files
.DS_Store
Thumbs.db
